# --------------------------------------------------
# Python Cache
# --------------------------------------------------

__pycache__/
*.pyc

# --------------------------------------------------
# Virtual Environments
# --------------------------------------------------

.venv/
venv/

# --------------------------------------------------
# macOS
# --------------------------------------------------

.DS_Store

# --------------------------------------------------
# Jupyter
# --------------------------------------------------

.ipynb_checkpoints/

# --------------------------------------------------
# Runtime Outputs
# --------------------------------------------------

outputs/

# --------------------------------------------------
# Runtime Telemetry Logs
# --------------------------------------------------

*.log

# --------------------------------------------------
# Matplotlib Cache
# --------------------------------------------------

.mplconfig/

